<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta name="keywords" content="HISTORIA, APACHETAS, CREACION, ARQUITECTA">
    <meta name="description" content="Historia de las apachetas, informacion sobre su creadora y de porque empezo el emprendimiento">
    <link rel="stylesheet" href="../assets/SCSS/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>apacheta</title>
</head>
<body>
  <header>
    <section>
    
      <a href="../index.html"><img src="../apachetalogo.png" width="150" height="150" alt="logo del sitio" ></a>
      

      <nav class="menum navbar navbar-light navbar-expand-md justify-content-center fixed-top">
        <div class="container">

        <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
          <ul class="topBotomBordersOut navbar-nav mx-auto text-center">
            <li class="nav-item active">
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="./sobremi.html">Sobre Mi</a> 
               </li>
            <li class="nav-item"> 
              <a class="nav-link" href="./productos&colaboraciones.html">Productos</a> 
              </li>
            <li class="nav-item"> 
              <a class="nav-link" href="./arquitectura.html">Arquitectura</a> 
              </li>
            <li class="nav-item"> 
              <a class="nav-link" href="./contacto.html">Contacto</a> 
              </li>
            
          </ul>
        </div>
        </div>   
      </nav>
      <!--<nav class="menum navbar">  
      <div class="container">
        <div class="navbar-collapse collapse justify-content-between align-items-center w-100">
        <ul class="topBotomBordersOut navbar-nav mx-auto text-center">
          <li class="nav-item active">
            <a class="nav-link active" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./sobremi.html">Sobre mi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./productos&colaboraciones.html">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./arquitectura.html">Arquitectura</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="./contacto.html">Contacto</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>-->
      
  </section>



  
  </header>
<main>

  <section class="presentacion">
    <div class="container">
      <div class="row">
        <div class="col-8"><img src="../imagenes/presentacion.jpg" width="700" height="1000" class="mr-3" alt="Rosina"></div>
        <div class="col-4"><h2 class="significado"> Que son las Apachetas?</h2>
          <p>Apacheta es un emprendimiento que crea muebles de diseño con la finalidad de que cobren vida en un hogar, que aporten calidez, sean funcionales y hermosos. Me gusta enfocarme en los detalles, en que cada uno sea especial y esté ahí por algo. Por eso, cada mueble tiene el nombre de una piedra energéticamente única. Cada nombre está pensado con una intención, elegido para cada mueble dependiendo el ambiente para el que está creado.
            Cuando estoy en el proceso de diseño de un mueble, me gusta pensar que es lo que va a pasar a su alrededor, quienes lo van a usar y como, cada pieza tiene mucho amor y dedicacion y espero que eso se pueda transmitir.</p></div>
      </div>
    </div>      
    
    
    <!--<div class="media">
            <img src="../imagenes/presentacion.jpg" width="500" height="500" class="mr-3" alt="Rosina">
            <div class="media-body">
            
              <h3 class="significado"> Que son las Apachetas?</h3>
              <p>Apacheta es un emprendimiento que crea muebles de diseño con la finalidad de que cobren vida en un hogar, que aporten calidez, sean funcionales y hermosos. Me gusta enfocarme en los detalles, en que cada uno sea especial y esté ahí por algo. Por eso, cada mueble tiene el nombre de una piedra energéticamente única. Cada nombre está pensado con una intención, elegido para cada mueble dependiendo el ambiente para el que está creado.
                Cuando estoy en el proceso de diseño de un mueble, me gusta pensar que es lo que va a pasar a su alrededor, quienes lo van a usar y como, cada pieza tiene mucho amor y dedicacion y espero que eso se pueda transmitir.</p>
            </div>
          </div>-->
  
            
  
            
        </section>
</main>
        
        

          

        
    
  
    

    <footer class="copyright">
      <p class="copyright__texto">Copyright Apacheta - 2021. Todos los derechos reservados.</p> 
    </footer> 
   
    <!--SCRIPT-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

    
    

</body>
</html>